*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

.hero {
  position: absolute;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

// .nav-items {
//   color: white;
//   position: relative;
//   text-align: center;
// }

// .nav-item {
//   display: inline-block;
//   font-size: 2rem;
//   margin-top: 4rem;
//   padding: 0 15rem;
// }

// a {
//   text-decoration: none;
//   color: white;

//   &:hover {
//     color: rgb(124, 3, 3);
//     cursor: url(https://cur.cursors-4u.net/others/oth-8/oth704.cur), auto !important;
//   }
// }

.nav {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);

  &-item {
    padding: 0 4rem;
    font-size: 2rem;
  }
}

.nav-link {
  text-decoration: none;
  color: white;
  font-family: "Permanent Marker", cursive;

  &:hover {
    color: rgb(124, 3, 3);
    cursor: url(https://cur.cursors-4u.net/others/oth-8/oth704.cur), auto;
  }
}

.killer-container {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 30%;
}

.killer-title {
  color: white;
  font-size: 8rem;
  font-family: "Permanent Marker", cursive;

  &::after {
    color: #ad310b;
  }
}
