$text-color-white: white;
$text-color-blood: #ad310b;
$text-color-dark-blood: rgb(124, 3, 3);
$font-family-pm-cursive: "Permanent Marker", cursive;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

.hero {
  position: absolute;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.nav {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);

  &-item {
    padding: 0 4rem;
    font-size: 2rem;
  }
}

.nav-link {
  text-decoration: none;
  color: $text-color-white;
  font-family: $font-family-pm-cursive;

  &:hover {
    color: $text-color-dark-blood;
    cursor: url(https://cur.cursors-4u.net/others/oth-8/oth704.cur), auto;
  }
}

.killer-container {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 25%;
}

.killer-title {
  font-size: 8rem;
  font-family: $font-family-pm-cursive;

  &::after {
    color: $text-color-blood;
  }
}
