*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

.hero {
  position: absolute;
  height: 100vh;
  width: 100vw;
  object-fit: cover; }

.nav {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%); }
  .nav-item {
    padding: 0 4rem;
    font-size: 2rem; }

.nav-link {
  text-decoration: none;
  color: white;
  font-family: "Permanent Marker", cursive; }
  .nav-link:hover {
    color: #7c0303;
    cursor: url(https://cur.cursors-4u.net/others/oth-8/oth704.cur), auto; }

.killer-container {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 25%; }

.killer-title {
  font-size: 8rem;
  font-family: "Permanent Marker", cursive; }
  .killer-title::after {
    color: #ad310b; }

.btn-dark {
  font-size: 2rem;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem 0.2rem;
  background-color: #1d1c1c;
  margin-top: 6rem; }
  .btn-dark:hover {
    transition: all 1s ease-in-out;
    border-color: 0.5rem solid #000000;
    box-shadow: 10px 5px 5px #7c0303;
    background-color: #4e0101;
    font-family: "Permanent Marker", cursive;
    color: #000000; }

@keyframes buttonFadeIn {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
