*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

.hero {
  position: absolute;
  height: 100vh;
  width: 100vw;
  object-fit: cover; }

.nav-items {
  color: white;
  position: relative;
  text-align: center; }

.nav-item {
  display: inline-block;
  font-size: 2rem;
  margin-top: 4rem;
  padding: 0 8rem; }

a {
  text-decoration: none;
  color: white; }
  a:hover {
    color: #7c0303;
    cursor: url(https://cur.cursors-4u.net/others/oth-8/oth704.cur), auto !important; }
